{% from 'field-macro.html' import displayField %}

{% block title %}Login {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}
{% block content %}
    <h2 class="form-signin-heading">Login now!</h2>
    <p class="form-signin-heading">Enter you Email/password to start web Blocker</p>

    <form action="{{ url_for('login') }}", method="POST" class="form-signin">
        {{ displayField(form.email, 'Email', autocomplete="off", autofocus=true) }}
        {{ displayField(form.password, 'Password') }}
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block">
        </div>
        {{ form.csrf_token }}
    </form>

    <hr>

    <p>Have not registered? <a href="{{url_for('register')}}">Register here</a>.</p>
{% endblock %}