{% from 'field-macro.html' import displayField %}

{% block title %}Register {% endblock title%}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
        <h2>Get started!</h2>

        <form action="{{ url_for('register') }}", method="POST" class="form-signin">
            {{ displayField(form.email, 'Email', autocomplete="off", autofocus=true) }}
            {{ displayField(form.password, 'Password') }}
            {{ displayField(form.confirm_pswd, 'Retype Password') }}
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-warning">
            </div>
            {{ form.csrf_token }}
        </form>

        <hr>

        <p>Already registered? <a href="{{url_for('login')}}">Login here</a>.</p>
{% endblock %}